nav {
    position: absolute;
}

nav a {
    font-family: 'Special Elite';
    font-size: 23px;
    text-decoration: none;
}

nav ul li {
    margin-bottom: .3em;
}

header h1 {
    font-family: 'Special Elite';
    color: #ff0000;
    margin-left: 6.5em
}

.img-container img {
    width: 40%;
}
.img-container {
    position: absolute;
    left: 35%;
    display: flex;
    width: 100%;
    padding-top: 12px;
    flex-direction: column;
}

.img-container p {
    width: 40%;
    height: 50%;
}

footer {
    bottom: 0;
    margin-bottom: 1.5em;
    position: fixed;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer img {
    width: 30px;
    height: 30px; 
    margin-left: 1em;
}

.top-nav {
    padding-left: 2.5em;
    padding-top: 2.5em;
}