/***************** HEADER *****************/

.top-nav {
    margin-bottom: 100px;
}

/***************** BODY/BODY-CONTENT *****************/
body {
    background: rgb(218, 217, 217);
    text-align: center;
}

.credentials {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 75vh;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    padding: 1em;
    background-color: rgb(255, 255, 255);
}

.form-password, .form-email {
    width: 100%;
}

.loginButton {
    width: 100%;
}

/***************** FOOTER *****************/
footer {
    border: 2px dashed red;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 10vh;
}

footer img {
    width: 30px;
    height: 30px;
    margin-left: 1em;
}